<configuration>
    <!-- Configuración de la consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuración del nivel de registro (INFO, DEBUG, WARN, ERROR) -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
